#h11{
    background-color: rgb(99, 16, 199);
    color: white;
    text-align: center;
}

#img{
    height: 100px;
    background-color:  rgb(37, 104, 205);
}

#h21{
    float: right;
    margin-right: 1040px;
    margin-top: 38px;
    color: rgb(233, 27, 168);
}

.gallery{
    display: inline-block;
    margin: 10px;
    margin-left: 53px;
}

#button{
    margin-left:36px;
    font-size: 20px;
    border-radius: 25px;
    background-color: blueviolet;
    color: white;
}
