body{
background-color: #ffe5b6;
}
#h11{
    color: red;
    text-align: right;
    margin-bottom: 4px;
    background-color: #ffe5b6;
}

#img{
    height: 100px;
    background-color:  rgb(37, 104, 205);
}

#h21{
    float: right;
    margin-right: 1077px;
    margin-top: 38px;
    color: black;
}

.gallery{
    display: inline-block;
    margin: 20px;
    margin-left: 100px;
}

#button{
    margin-bottom: 18px;
    font-size: 20px;
    border-radius: 15px;
    background-color: #6d412a;
    color: white;
}

#button:hover{
    background-color: #cdac79;
}

* {
    padding: 0;
    margin: 0;
    font-family: monospace;
}

ul{
    list-style: none;
    background-color: #6d412a;
}

ul li{
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    padding: 20px 25px;
    color: rgb(251, 251, 251);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

ul li ul.dropdown li{
    display:block;
}

ul li ul.dropdown{
    width:150%;
    background-color: #cdac79;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover{
    background-color: #ab9685;
}

ul li:hover ul.dropdown{
    display: block;

}

#h12{
    margin-left: 20px;
    text-decoration: underline;
    color: brown;
}







@media screen and (max-width=600px) 
{
    body{
        background-color: #ffe5b6;
        }

    #img{
        height: 100px;
        background-color:  rgb(37, 104, 205);
        }
        
    #h21{
        float: right;
        margin-right: 1077px;
        margin-top: 38px;
        color: black;
        }
        
    .gallery{
        display: inline-block;
        margin: 20px;
        margin-left: 100px;
        }
        
    #button{
        margin-bottom: 18px;
        font-size: 20px;
        border-radius: 15px;
        background-color: #6d412a;
        color: white;
        }
        
    #button:hover{
        background-color: #cdac79;
        }
        
    * {
        padding: 0;
        margin: 0;
        font-family: monospace;
        }
        
    ul{
        list-style: none;
        background-color: #6d412a;
        }
        
    ul li{
        display: inline-block;
        position: relative;
        }
        
    ul li a{
        display: block;
        padding: 20px 25px;
        color: rgb(251, 251, 251);
        text-decoration: none;
        text-align: center;
        font-size: 20px;
        }
        
    ul li ul.dropdown li{
        display:block;
        }
        
    ul li ul.dropdown{
        width:150%;
        background-color: #cdac79;
        position: absolute;
        z-index: 999;
        display: none;
        }
        
    ul li a:hover{
        background-color: #ab9685;
        }
        
    ul li:hover ul.dropdown{
        display: block;
        }
        
    #h12{
        margin-left: 20px;
        text-decoration: underline;
        color: brown;
        }

}